/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(129, 5, 11);
    padding: 16px 0;
    color:#f5f6fa ;
    }

body, input, textarea {
    font-family: 'Sarabun', sans-serif;
}    

body > header {
    background-color:rgb(129, 5, 11);
    padding: 16px 0;
    color: #f5f6fa;
    }

header h1,
section h2,
section h3 {
    font-family: 'Sarabun', sans-serif;
}

/* Titulo do menu ajustes */
header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
}
 /* o cabeçalho */
.container {
    width: 1366px;
    margin: 0 auto;
}

.container a {
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
    }
    
.artcle, p {
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.date {
    color: #f5f6fa;
}

/* Organizando as img e noticias uma ao lado da outra,
 dando o mesmo espaçamento com o justify-content: space-between */
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* limitando o tamanho das imagens, utilizando resposividade */
.articles article img {    
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, 
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top:8px;
    margin-bottom: 16px;
}

/* Botão Ler mais ajustes */
.articles article a {
    background-color: #bb0303;
    color: #f5f6fa;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8PX;
}

/*Colocar um seletor nos botões quando passar o mouse ele muda de cor com :hover*/
.articles article a:hover {
    text-decoration: underline;
}

/* Mudar a fonte dos paragrafos */
.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#war-world {
    background-color: rgb(70, 66, 66);
}

#top-jogos {
    background-color: rgb(14, 13, 13);
}

/* imagens de logos de links Inst, Facebook e youtube*/
.links-sociais img {
    height: 24px;
}

.links-sociais li {
    display: inline;
    padding: 12px;
    margin: 8px;
}

.links-sociais li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

#contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, 
textarea,
button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 120px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color:black;
    color:#fff ;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(61, 59, 59);
}

input:focus, textarea:focus {
    outline-color:rgb(61, 59, 59);
}

footer {
    background-color: black;
    color: #fff;
    padding:16px 0 ;
    bottom: 0;
    margin: 0;
    text-align: center;
}